<div class="wrapper-component">
  <ion-row class="ion-justify-content-center">
    <ion-col size-xl="7">
      <ion-row class="ion-justify-content-between">
        <ion-col class="ion-no-padding">
          <h1 class="titre-page">Utilisateurs</h1>
        </ion-col>
        <ion-col class="ion-no-padding">

          <div class="button-list-top-container">
            <ng-template [ngIf]="connectedUser && connectedUser.hasPermissionByCodeName('utilisateur_create')">
              <button class="button-list color-accent" mat-stroked-button routerLink="utilisateur"
                matTooltip="Ajouter un utilisateur" id="btnActifObsoleteUtilisateur">
                <span class="mat-button-wrapper">
                  <span class="material-icons">add</span>
                </span>
              </button>
            </ng-template>
          </div>
        </ion-col>
      </ion-row>

      <table *ngIf="dataSource?.filteredData?.length > 0" mat-table [dataSource]="dataSource">
        <!-- colonne Nom -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef [style.display]="nbColumnsAffiche < 4 ? 'none' : 'table-cell'"> Nom</th>
          <td mat-cell *matCellDef="let utilisateur" [style.display]="nbColumnsAffiche < 4 ? 'none' : 'table-cell'">
            {{utilisateur.Nom}}</td>
        </ng-container>

        <!-- colonne Prénom -->
        <ng-container matColumnDef="prenom">
          <th mat-header-cell *matHeaderCellDef [style.display]="nbColumnsAffiche < 4 ? 'none' : 'table-cell'"> Prénom
          </th>
          <td [style.display]="nbColumnsAffiche < 4 ? 'none' : 'table-cell'" mat-cell *matCellDef="let utilisateur">
            {{utilisateur.Prenom}}</td>
        </ng-container>

        <!-- colonne Nom - Prénom (remplace les colonnes Nom & Prénom, visible sur smartphone) -->
        <ng-container matColumnDef="nomPrenom">
          <th class="first-column" [style.display]="nbColumnsAffiche !== 3 ? 'none' : 'table-cell'" mat-header-cell
            *matHeaderCellDef> Nom - Prénom </th>
          <td [style.display]="nbColumnsAffiche !== 3 ? 'none' : 'table-cell'" mat-cell *matCellDef="let utilisateur">
            {{utilisateur.Nom}} {{utilisateur.Prenom}}</td>
        </ng-container>

        <!-- colonne Email -->
        <ng-container matColumnDef="email">
          <th [style.display]="nbColumnsAffiche < 6 ? 'none' : 'table-cell'" mat-header-cell *matHeaderCellDef> Email
          </th>
          <td [style.display]="nbColumnsAffiche < 6 ? 'none' : 'table-cell'" mat-cell *matCellDef="let utilisateur">
            {{utilisateur.Email}} </td>
        </ng-container>

        <!-- colonne Username -->
        <ng-container matColumnDef="username">
          <th [style.display]="nbColumnsAffiche < 5 ? 'none' : 'table-cell'" mat-header-cell *matHeaderCellDef> Username
          </th>
          <td [style.display]="nbColumnsAffiche < 5 ? 'none' : 'table-cell'" mat-cell *matCellDef="let utilisateur">
            {{utilisateur.Username}} </td>
        </ng-container>

        <!-- colonne État -->
        <ng-container matColumnDef="etat">
          <th mat-header-cell *matHeaderCellDef id="headerEtat">État</th>
          <td mat-cell *matCellDef="let utilisateur" id="cellEtat">
            <span class="material-icons green" *ngIf="utilisateur.IsActive" matTooltip="Actif">circle</span>
            <span class="material-icons red" *ngIf="!utilisateur.IsActive" matTooltip="Inactif">hide_source</span>
          </td>
        </ng-container>

        <!-- colonne Actions -->
        <ng-container matColumnDef="actions" stickyEnd>
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let utilisateur">
            <div class="mat-button-list-container">
              <ng-template [ngIf]="connectedUser && connectedUser.hasPermissionByCodeName('utilisateur_archive')">
                <button class="button-list" mat-stroked-button (click)="rendreActifObsoleteUtilisateur(utilisateur)"
                  matTooltip="Passer l'utilisateur en Actif/Inactif" id="btnActifObsoleteUtilisateur">
                  <span class="mat-button-wrapper">
                    <span class="material-icons">hourglass_empty</span>
                  </span>
                </button>
              </ng-template>
              <ng-template
                [ngIf]="connectedUser && connectedUser.hasPermissionByCodeName('utilisateur_update') && connectedUser.hasPermissionByCodeName('utilisateur_retrieve')">
                <button class="button-list" mat-stroked-button
                  [routerLink]="['../liste-utilisateur/utilisateur/', utilisateur.Id]"
                  matTooltip="Modifier un utilisateur">
                  <span class="mat-button-wrapper">
                    <span class="material-icons">edit</span>
                  </span>
                </button>
              </ng-template>
              <ng-template [ngIf]="connectedUser && connectedUser.hasPermissionByCodeName('utilisateur_destroy')">
                <button class="button-list" mat-stroked-button (click)="openConfirmDeleteDialog(utilisateur)"
                  matTooltip="Supprimer un utilisateur" id="btnDeleteUtilisateur">
                  <span class="mat-button-wrapper">
                    <span class="material-icons">delete</span>
                  </span>
                </button>
              </ng-template>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let dataSource; columns: tableColumns"></tr>
      </table>

      <mat-paginator [hidden]="dataSource?.filteredData?.length == 0" [length]="100" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
      <div *ngIf="dataSource == null || dataSource?.filteredData == null ||dataSource?.filteredData?.length == 0"
        class="bloc-aucune-donnee">
        <p>Aucun utilisateur à afficher.</p>
      </div>
    </ion-col>
  </ion-row>
</div>