:host {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    color: #fff;
}

:host *{
    transition: all 0.1s ease-out;
}

#connexion-logo{
    width: 300px;
}

#connexion-form-container{
    display: inline-flex;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#connexion-form{
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connexion-input{
    width:100%;
}

.connexion-input-container{
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .connexion-button{
        width: 100%;
    }
    
    #error-container{
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    #connexion-form-container{
        width: 100%;
    }
}
