#notifications-container{
    position: absolute;
    top:calc(100%+10px);
    right: 0;
    width: 450px;
    z-index: 100;
}
#notifications-header{
    display:flex;
}
:host{
    position: relative;
    height: 100%;
}
.navbar-spacer {
    flex: 1 1 auto;
  }

  #notifications-list{
      font-size:14px;
  }
  #notifications-list ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    width: 100%;
    margin-top: 5px;
    max-height: 800px;
}
  #notifications-list li{
      width: 100%;
      display: flex;
      align-items: center;
  }
 .notifications-close-button{
    cursor: pointer;
  }
  .notifications-close-button:hover{
      color:gray;
  }

  .notifications-icon-read{
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (max-width: 550px) {
    :host{
        position: initial;
    }
    #notifications-container{
        width: 100%;
        top:60px
    }
}
