<div class="wrapper-component">
    <ion-row class="ion-justify-content-center">
        <ion-col size-xl="7">
            <ion-row class="ion-justify-content-between">
                <ion-col class="ion-no-padding">
                    <h1 *ngIf="!this.form.controls.Id.value" class="titre-page">Ajout d'un emprunt</h1>
                    <h1 *ngIf="this.form.controls.Id.value" class="titre-page">Modification d'un emprunt</h1>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
        <ion-col size-xl="5">
            <form [formGroup]="form">
                <input type="hidden" formControlName="Id">

                <mat-form-field>
                    <input matInput type="date" placeholder="Date de début *"
                        formControlName="date_debut" id="textDateDebut">
                    <!-- <mat-error
                        *ngIf="form.controls.date_debut.errors && (form.controls.date_debut.dirty || form.controls.date_debut.touched)">
                        <span *ngIf="form.controls.date_fin.errors.required">La date doit être renseigné.</span>
                    </mat-error> -->
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="date" placeholder="Date de fin *"
                        formControlName="date_fin" id="textDateFin">
                    <!-- <mat-error
                        *ngIf="form.controls.date_fin.errors && (form.controls.date_fin.dirty || form.controls.date_ddate_finebut.touched)">
                        <span *ngIf="form.controls.date_fin.errors.required">La date doit être renseigné.</span>
                    </mat-error> -->
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" minlength="3" maxLength="500" placeholder="Destination *"
                        formControlName="destination" id="textDestination">
                    <!-- <mat-error
                        *ngIf="form.controls.destination.errors && (form.controls.destination.dirty || form.controls.destination.touched)">
                        <span *ngIf="form.controls.destination.errors.required">La destination doit être renseigné.</span>
                    </mat-error> -->
                </mat-form-field>



                <!-- date_debut = models.DateTimeField()
    date_fin = models.DateTimeField()
    destination = models.CharField(max_length=500)
    commentaire = models.CharField(max_length=2000)
    type = models.CharField(max_length=1)
    site = models.ForeignKey(Site, null=True, on_delete=models.RESTRICT) -->

                <mat-form-field>
                    <input matInput type="text" minlength="3" maxLength="2000" placeholder="Commentaire"
                        formControlName="commentaire" id="textCommentaire">
                    <!-- <mat-error *ngIf="form.controls.commentaire.errors && (form.controls.commentaire.dirty || form.controls.commentaire.touched)">
                        
                    </mat-error> -->
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Type de véhicule" formControlName="type" id="selectType">
                        <mat-option value="one">First option</mat-option>
                    </mat-select>
                    <!-- <mat-error
                        *ngIf="form.controls.type.errors && (form.controls.type.dirty || form.controls.type.touched)">
                        <span *ngIf="form.controls.type.errors.required">Le type doit être renseigné.</span>
                    </mat-error> -->
                </mat-form-field>
 <!-- <mat-form-field>
                <mat-form-field>
                    <input matInput type="text" minlength="3" maxLength="200" placeholder="Libellé *"
                        formControlName="Libelle" id="textLibelle">
                    <mat-error
                        *ngIf="form.controls.Libelle.errors && (form.controls.Libelle.dirty || form.controls.Libelle.touched)">
                        <span *ngIf="form.controls.Libelle.errors.required">Le libellé doit être renseigné.</span>
                    </mat-error>
                </mat-form-field> -->


                <div class="group-button-stick-right">
                    <button mat-raised-button color="accent" type="button" routerLink="/Digifleet/liste-emprunt" id="btnAnnuler">
                        <span>Annuler</span>
                    </button>
                    <button mat-raised-button color="primary" type="button" (click)="sauver()" id="btnSauver">
                        <span>Valider</span>
                    </button>
                </div>
            </form>
        </ion-col>
    </ion-row>
</div>