<h1>Liste des Vehicules</h1>

<table mat-table [dataSource]="vehicules">
  <ng-container matColumnDef="immatriculation">
    <th mat-header-cell *matHeaderCellDef> Immatriculation </th>
    <td mat-cell *matCellDef="let vehicule"> {{vehicule.immatriculation}} </td>
  </ng-container>

  <ng-container matColumnDef="modele">
    <th mat-header-cell *matHeaderCellDef> Modèle </th>
    <td mat-cell *matCellDef="let vehicule"> {{vehicule.modele}} </td>
  </ng-container>

  <ng-container matColumnDef="marque">
    <th mat-header-cell *matHeaderCellDef> Marque </th>
    <td mat-cell *matCellDef="let vehicule"> {{vehicule.marque}} </td>
  </ng-container>

  <ng-container matColumnDef="couleur">
    <th mat-header-cell *matHeaderCellDef> Couleur </th>
    <td mat-cell *matCellDef="let vehicule"> {{vehicule.couleur}} </td>
  </ng-container>

  <ng-container matColumnDef="nb_place">
    <th mat-header-cell *matHeaderCellDef> Nombre de places </th>
    <td mat-cell *matCellDef="let vehicule"> {{vehicule.nb_place}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let vehicule"> 
      <button mat-raised-button [routerLink]="['../liste-vehicule/vehicule/', vehicule.id]">Modifier</button>
      <button mat-icon-button class="delete" (click)="openConfirmDeleteDialog(vehicule.id)" matTooltip="Supprimer le vehicule">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
  <tr mat-row *matRowDef="let rowData; columns: tableColumns"></tr>
  
</table>

<button mat-fab color="primary" matTooltip="Ajouter" routerLink="vehicule">
  <mat-icon>add</mat-icon>
</button>
