<div class="wrapper-component">
    <ion-row class="ion-justify-content-center">
        <ion-col size-xl="7">
            <ion-row class="ion-justify-content-between">
                <ion-col class="ion-no-padding">
                    <h1 *ngIf="!this.form.controls.Id.value" class="titre-page">Ajout d'un site</h1>
                    <h1 *ngIf="this.form.controls.Id.value" class="titre-page">Modification d'un site</h1>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
        <ion-col size-xl="5">
            <form [formGroup]="form">
                <input type="hidden" formControlName="Id">

                <mat-form-field>
                    <input matInput type="text" minlength="3" maxLength="200" placeholder="Libellé *"
                        formControlName="Libelle" id="textLibelle">
                    <mat-error
                        *ngIf="form.controls.Libelle.errors && (form.controls.Libelle.dirty || form.controls.Libelle.touched)">
                        <span *ngIf="form.controls.Libelle.errors.required">Le libellé doit être renseigné.</span>
                    </mat-error>
                </mat-form-field>

                <div class="group-button-stick-right">
                    <button mat-raised-button color="accent" type="button" routerLink="/Digifleet/liste-site" id="btnAnnuler">
                        <span>Annuler</span>
                    </button>
                    <button mat-raised-button color="primary" type="button" (click)="sauver()" id="btnSauver">
                        <span>Valider</span>
                    </button>
                </div>
            </form>
        </ion-col>
    </ion-row>
</div>