<mat-toolbar color="primary">
    <mat-toolbar-row>
         <button mat-button
                disableRipple
                routerLink="/Digifleet/liste-emprunt">
                <img id="bandeau-logo" src="/assets/digifleet.png" />
        </button>
        <div fxFlex fxLayout fxLayoutAlign="flex-end">
            <ul fxLayout fxLayoutGap="20px">
                
                <button mat-button 
                    routerLink="/Digifleet/liste-emprunt">
                    <mat-icon>emoji_transportation</mat-icon>
                    <span class="libelle-item-menu">Emprunts</span>
                </button>
                <ng-template  [ngIf]="connectedUser && ( 
                    connectedUser.hasPermissionByCodeName('vehicule_list') 
                    || connectedUser.hasPermissionByCodeName('site_list') 
                    || connectedUser.hasPermissionByCodeName('utilisateur_list') 
                    || connectedUser.hasPermissionByCodeName('groupe_list')
                    )">
                    <button mat-button [matMenuTriggerFor]="administration">
                        <mat-icon>build</mat-icon>
                        <span class="libelle-item-menu">Administration</span>
                    </button>
                    <mat-menu #administration="matMenu">
                        <ng-template [ngIf]="connectedUser?.hasPermissionByCodeName('vehicule_list')">
                            <button mat-menu-item
                                routerLink="/Digifleet/liste-vehicule">
                                <mat-icon>directions_car</mat-icon>
                                Véhicules
                            </button>
                        </ng-template>
                        <ng-template [ngIf]="connectedUser?.hasPermissionByCodeName('site_list')">
                            <button mat-menu-item
                                routerLink="/Digifleet/liste-site">
                                <mat-icon>location_city</mat-icon>
                                Sites
                            </button>
                        </ng-template>
                        <ng-template [ngIf]="connectedUser?.hasPermissionByCodeName('utilisateur_list')">
                            <button mat-menu-item
                                routerLink="/Digifleet/liste-utilisateur">
                                <mat-icon>people</mat-icon>
                                Utilisateurs
                            </button>
                        </ng-template>
                        <ng-template [ngIf]="connectedUser?.hasPermissionByCodeName('groupe_list')">
                            <button mat-menu-item
                                routerLink="/Digifleet/liste-groupe">
                                <mat-icon>groups</mat-icon>
                                Groupes d'utilisateurs
                            </button>
                        </ng-template>     
                    </mat-menu>  
                </ng-template>
            </ul>
        </div>
        
        <span class="navbar-spacer"></span>
        <span>
            <notifications></notifications>
            <button mat-button [matMenuTriggerFor]="auth">
                <mat-icon>person_outline</mat-icon>
                <ng-template class="libelle-item-menu" [ngIf]="connectedUser" [ngIfElse]="loading">{{connectedUserName}}</ng-template> 
                <ng-template #loading>Chargement..</ng-template>
            </button>
        </span>

        <mat-menu #auth="matMenu">
            <button routerLink="/Digifleet/mon-compte/securite" mat-menu-item>
                <mat-icon>security</mat-icon>
                <span>Sécurité</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Déconnexion</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
