<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Digifleet</span>
        <div fxFlex fxLayout fxLayoutAlign="flex-end">
            <ul fxLayout fxLayoutGap="20px">
                <button mat-icon-button 
                        matTooltip="Utilisateurs"
                        routerLink="liste-utilisateur">
                    <mat-icon>people</mat-icon>
                </button>

                <button mat-icon-button
                        matTooltip="Véhicules"
                        routerLink="liste-vehicule">
                    <mat-icon>directions_car</mat-icon>
                </button>

                <button mat-icon-button
                        matTooltip="Sites"
                        routerLink="liste-site">
                    <mat-icon>location_city</mat-icon>
                </button>

                <button mat-icon-button [matMenuTriggerFor]="auth">
                    <mat-icon>person_outline</mat-icon>
                </button>

                <mat-menu #auth="matMenu">
                    <div id="connectedUser"><ng-template [ngIf]="user" [ngIfElse]="loading">{{user.Prenom}} {{user.Nom}}</ng-template> <ng-template #loading>Chargement..</ng-template></div>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Déconnexion</span>
                    </button>
                </mat-menu>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
