.navbar-spacer {
    flex: 1 1 auto;
}

#bandeau-logo{
  min-width: 100px;
  width: 200px;
}

.mat-focus-indicator.mat-button.mat-button-base {
  padding-right: min(16px,1vw) !important;
  padding-left: min(16px,1vw) !important;
}

@media screen and (max-width: 600px) {
  .libelle-item-menu {
      display: none !important;
  }
}