<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Digifleet</span>
        <div fxFlex fxLayout fxLayoutAlign="flex-end">
            <ul fxLayout fxLayoutGap="20px">
                <button mat-icon-button 
                        matTooltip="Utilisateurs"
                        routerLink="liste-utilisateur">
                    <mat-icon>people</mat-icon>
                </button>

                <button mat-icon-button
                        matTooltip="Véhicules"
                        routerLink="liste-vehicule">
                    <mat-icon>directions_car</mat-icon>
                </button>

            </ul>
        </div>
        
        <span class="navbar-spacer"></span>
        <span>

            <button mat-button [matMenuTriggerFor]="auth">
                <mat-icon>person_outline</mat-icon>
                <ng-template [ngIf]="user" [ngIfElse]="loading">{{user.Prenom}} {{user.Nom}}</ng-template> <ng-template #loading>Chargement..</ng-template>
            </button>
        </span>

        <mat-menu #auth="matMenu">
            
            <button routerLink="/Digifleet/mon-compte/securite" mat-menu-item>
                <mat-icon>security</mat-icon>
                <span>Sécurité</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Déconnexion</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
